/* 목록 초기화 재사용 가능한 스타일 모듈 */
.reset-list ul, 
.reset-list ol,
ul.reset-list,
ol.reset-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

/* 이미지 하단의 공백을 제거하는 속성 */
img {
  vertical-align: bottom;
}

/* 이미지 하단에 공백을 형성하여 옆으로 배치되는 글들이 동일한 공간을 가질 수 있도록 설정 */
.bank-bottom-img img + *,
img.bank-bottom + * {
  overflow: hidden;
}

/* clearfix : 다양한 클래스 이름을 붙여서 골라서 사용. */
.clearfix::after,
.new-clearfix::after,
.cf::after {
  display: block;
  content: '';
  clear: both;
}

/* for IE6/7 */
.lt-ie8 .clearfix,
.lt-ie8 .new-clearfix,
.lt-ie8 .cf {
  zoom: 1;
}

/* 스크린리더에서 읽을 수 있는 숨김 텍스트 */
.a11y-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.readable-hidden.focusable:focus {
  overflow: visible;
  position: static;
  clip:     auto;
  width:    auto;
  height:   auto;
  margin:   0;
}

/* IR 배경이미지 기법 */
.ir {
  display: block;
  overflow: hidden;
  text-indent: -9999em;
}
