// RWD(Fluid Grid Layout, Flexible Image.video, Media Queries) 
// + Mobile First + Progressive Enhancement = Adapt Web

$medium-screen: 780px;
$large-screen: 1120px;
$wide-screen: 1300px;

.page-header {
	float: left;
	width: 90%;
	@media (min-width: $medium-screen) and (max-width: $large-screen - 1) {
		width: 1/3*100%; // width: 33.33333333%; 
	}
	@media (min-width: $large-screen) {
		width: 1/2*100%;
	}
	@media (min-width: $wide-screen) {
		width: 100%;
	}
}
