/*
	페이지 폭: 1200px
	컬럼 폭: 100px
	거터 폭: 0px
	컬럼 개수: 12
 */

.container{
	box-sizing: border-box;
	position: relative;
	min-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.container:after{
	display: block;
	content: '';
	clear: both;
}

.container.grid:before{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1440px;
	content: '';
	z-index: 10000;
	background-image: linear-gradient(90deg, rgba(236, 0, 60, 0.3) 50%, transparent 50%), linear-gradient(180deg, transparent 90%, rgba(135, 120, 163, 0.4));
	background-size: 200px 200px, 21px 21px;
}