/* 방법2. 부모 요소에게 float 부여
  - 마지막 자식에 <div class="clear"></div> 추가
  - 의미는 없되, 표현을 위한 목적으로 <div> 요소를 생성하여 class="clear"를 설정
  - 권장하지 않음.
*/

.parent {
  width: 720px;
  border: 1px solid #eceded;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  background: #efefef;
}

.child {
  float: left;
  width: 8.75rem;
  height: 6.25rem;
  text-align: center;
  line-height: 6.25rem;
  color: #fff;
}

.child:first-child {
 background: #3c1423; 
}
.child:nth-child(2) {
  background: #1c4e36;
}
.child:nth-child(3) {
  background: #15143d;
}
.clear {
  clear: both;
}

