/* 방법1. 부모 요소에게 float 부여
- 자식에게 float을 주면 부모의 높이가 '0' => 가운데 정렬
- 부모에게도 float를 주면 부모의 높이가 생기면서 자식을 감싼다. ==> 왼쪽 정렬이 된다.(가운데 정렬이 안된다.)
- 결론: (부모에게.. 계속 부모에게)무한 float이 된다.
- float과   margin-left: auto;, margin-right: auto; 적용이 안된다.
- 잘 쓰지 않는다.
*/

.parent {
  float: left;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  /*border: 1px solid #eceded;*/
  margin-bottom: 32px;
  background: #efefef;
}

.child {
  float: left;
  width: 140px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #fff;
}

.child:first-child {
 background: #3c1423; 
}
.child:nth-child(2) {
  /*height: 140px;*/
  background: #1c4e36;
}
.child:last-child {
  background: #15143d;
}