@charset "utf-8";

/*
	.button
*/

.button  {
	border: none;
	font-size: 1rem;
	/*padding: 4px 8px;*/
	padding: 0.25rem 0.5rem;
	background: #ececec;
	color: #122122;
	cursor: pointer;
	border-bottom: 2px solid #939393;
}

.button.button-3d {
	border-bottom: none;
	box-shadow: 1px 1px 1px #939393,
	box-shadow: 2px 2px 1px #939393,
	box-shadow: 3px 3px 1px #939393,
	box-shadow: 4px 4px 1px #939393;
	box-shadow: 5px 5px 1px #939393;
}

.button-round {	border-radius: 3px; }
.button-rounder {	border-radius: 6px; }
.button-roundest {	border-radius: 12px; }

/*
	button.slide-from-left
*/
button[class*="slide-"] {
	overflow: hidden;
	position: relative;
	border: 2px solid #4a43af;
	background: #4a43af;
	color: #fff;
	z-index: 1;
}

button[class*="slide-"]::after {
	content: '';
	position: absolute;
	z-index: -1;
	background: #6655ff;
	transition: all 0.3s;
}


button[class*="slide-"]:hover::after, 
button[class*="slide-"]:focus::after {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/*  slide-from-left  */
button.slide-from-left::after {
	top: 0;
	bottom: 0;
	left: -100%;
	right: 100%;
}

/*  slide-from-right  */
button.slide-from-right::after {
	top: 0;
	bottom: 0;
	left: 100%;
	right: -100%;
}

/*  slide-from-top  */
button.slide-from-top::after {
	top: -100%;
	bottom: 100%;
	left: 0;
	right: 0;
}

/*  slide-from-bottom  */
button.slide-from-bottom::after {
	top: 100%;
	bottom: -100%;
	left: 0;
	right: 0;
}