<!DOCTYPE html>
<html lang="ko-KR" data-ng-app>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>Angular를 사용하여 간단한 컬러 팔레트 애플리케이션 구현</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<style>
		body {
			margin: 0;
			min-height: 100vh;
			background: {{view_color}};
		}

		.color-place-view {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 1000px;
			height: 300px;
			/*background: #ececec;*/
			background: {{view_color}};
		}
	</style>
</head>
<!-- 
	<body data-ng-init> ==> 전역에 변수 선언과 같다.
-->
<body data-ng-init="
	my_color  = '#fc414b';
	hidden    = true;
	colors	  = { 
		'pink'  : '#D63DC2',
		'green' : '#00D641',
		'blue'  : '#2D58D6',
		'yellow': '#CDDC00',
		'sky'   : '#08EAE2'
	};
	view_color = colors.pink; 
	my_style = {
		'background': view_color,
		'width': '400px',
		'height': '400px'
	};
">

<!-- {{ my_color }}, {{ is_hidden }} -->
	<!--
		Directives & Expressions
			⊙ ng-cloak [FOUC(Flash Of Unstyled Content)](https://en.wikipedia.org/wiki/Flash_of_unstyled_content)
			⊙ ng-switch
			⊙ ng-class
			⊙ ng-show
	-->

	<button 
		class="toggle-palette-btn" 
		type="button" 
		data-ng-click="hidden = !hidden">
		<!-- 버튼 클릭할 때마다 true, fasle로 바뀐다-->
		<!-- {{ hidden }}  -->

		<!-- 처음에는 '팔레트 감추기' 그 다음 '팔레트 보이기''  -->
		<!-- ex1. -->
		<!-- 팔레트 <span data-ng-show="hidden">감추기</span> <span data-ng-hide="hidden">보이기</span> -->

		<!-- ex2. -->
		<!-- 팔레트 {{ hidden ? '감추기' : '보이기' }} -->

		<!-- ex3. -->
		팔레트 <span data-ng-bind="hidden ? '감추기' : '보이기'"></span>
	</button>

	<!-- 팔레트 -->
	<div class="color-palette" data-ng-show="hidden">
		<!-- color palette -->
		<label><input type="radio" value="{{ colors.pink }}" data-ng-model="view_color">pink</label>
		<label><input type="radio" value="{{ colors.green }}" data-ng-model="view_color"> green</label>
		<label><input type="radio" value="{{ colors.blue }}" data-ng-model="view_color"> blue</label>
		<label><input type="radio" value="{{ colors.yellow }}" data-ng-model="view_color"> yellow</label>
		<label><input type="radio" value="{{ colors.sky }}" data-ng-model="view_color"> sky</label>
	</div>
	<!-- 팔레트 제어에 따른 뷰 -->
	<!-- 인라인 스타일 : 사용 안함 -->
	<!-- <div class="color-place-view" style="background: {{view_color}}"></div> -->
	<div class="color-place-view" data-ng-style="my_style" style="background: {{view_color}}">{{view_color}}</div>
</body>
</html>