body {
	font: 16px/1.5 "Spoqa Han Sans", sans-serif;
	width: 60rem;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	padding-top: 1.3125rem;
	margin-left: 1.25rem;
}

.typrograp-heading .typrograp-title {
	font-size: 1rem;
	line-height: 1.5rem;
	text-transform: uppercase;
	color: #969595;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: -0.025em;
	font-weight: 400;
}

h1, h2 {
	margin-top: 0.25rem;
}

h3 {
	margin-top: 0.875rem;
}

h4 {
	margin-top: 1rem;
}

h5, h6 {
	margin-top: 1.125rem;
}

h1 { font-size: 2.4883rem; line-height: 4.5rem;}
h2 { font-size: 2.0736rem; line-height: 3rem;}
h3 { font-size: 1.728rem; line-height: 3rem; }
h4 { font-size: 1.44rem; line-height: 1.5rem;}
h5 { font-size: 1.2rem; line-height: 1.5rem; }
h6 { font-size: 1rem; line-height: 1.5rem; }
p  { font-size: 1rem; line-height: 1.3125rem; margin-top: 1.25rem}


/*  table  */
.table {
	margin-top: 2.5rem;
}

.table-title {
	font-size: 1rem;
	line-height: 1.5rem;
	text-transform: uppercase;
	color: #969595;
}


/*  list style  */
.list {
	margin-top: 2.5rem;
}

.list-title {
	display: block;
	text-transform: uppercase;
	margin-bottom: 1.25rem;
	line-height: 1.5rem;
	color: #969595;

}

.list li {
	line-height: 1.3125rem;
}

.unordered-list {
	float: left;
	width: 20%;
}

.unordered-list ul {
	margin-left: 1.25rem;
}

.ordered-list {
	float: left;
	width: 20%;
}

.ordered-list ol {
	margin-left: 1.25rem;
}

.definition-list {
	float: left;
	width: 60%;
}

.definition-list dt, dt {
	line-height: 1.1875rem;
}

/*  color  */
.color-ui {
	margin-top: 1.125rem;
}

.color-ui-title {
	line-height: 1.5rem;
	color: #969595;
	border-bottom: 1px solid #dfdfdf;
}

.color-ui .color-ui-box-type01 {
	margin-top: 1.1875rem;
}

.color-ui-box-type01 div[class^="box"], .color-ui-box-type02 div[class^="box"] {
	width: 6.25rem;
	height: 6.25rem;
	font-size: 0.875rem;
}

.color-ui-box-type01 div[class^="box"]>span {
	display: block;
	font-size: 0.875rem;
	color: #fff;
	text-align: center;
	padding-top: 2.625rem;
}

.color-ui-box-type01 li, .color-ui-box-type02 li {
	float: left;
	margin-right: 1.75rem;
}

.color-ui-box-type01 p {
	font-size: 0.75rem;
	color: #2c2c2c;
	letter-spacing: 0.075rem;
	margin-top: 0.375rem;
	margin-bottom: 0.9375rem;
	text-transform: uppercase;
}

.color-ui .color-ui-box-type02 {
	margin-top: 0.3125rem;
}

.box01 {
	background: #fcb409;
}

.box02 {
	background: #63a2fc;
}

.box03 {
	background: #44cb83;
}

.box04 {
	background: #7171ef;
}

.box05 {
	background: #ff5448;
}

.box06 {
	background: #787f94;
}

.box07 {
	background: #333741;
}

.box08 {
	background: #586077;
}

.box09 {
	background: #787f94;
}

.box10 {
	background: #bac2d0;
}

.box11 {
	background: #d9e0e9;
}