[class*="sprite-"] {
	display: block;
	overflow: hidden;
	text-indent: -9999em;
	background-image: url(sprites-ui.png);
}

.sprite-brand-iconfinder {
	width: 496px;
	height: 85px;
	background-position: 0px 0px;
}

.sprite-icon-search {
	width: 21px;
	height: 21px;
	background-position: -499px 0px;
}