@charset "utf-8";

/*
	.button
*/

.button{
	border: none;
	font-size: 1rem;
	/*padding: 4px 8px;*/
	padding: 0.25rem 0.5rem;
	background: #ececec;
	color: #122122;
	cursor: pointer;
	border-bottom: 2px solid #939393;
}

.button.button-3d {
	border-bottom: none;
	box-shadow: 1px 1px 1px #939393,
	box-shadow: 2px 2px 1px #939393,
	box-shadow: 3px 3px 1px #939393,
	box-shadow: 4px 4px 1px #939393;
	box-shadow: 5px 5px 1px #939393;
}

.button-round {	border-radius: 3px; }
.button-rounder {	border-radius: 6px; }
.button-roundest {	border-radius: 12px; }

/*
	button.slide-from-left
*/
button[class*="slide-"] {
	overflow: hidden;
	position: relative;
	border: 2px solid #4a43af;
	background: #4a43af;
	color: #fff;
	z-index: 1;
}

button[class*="slide-"]::after {
	content: '';
	position: absolute;
	z-index: -1;
	background: #6655ff;
	transition: all 0.3s;
}


button[class*="slide-"]:hover::after, 
button[class*="slide-"]:focus::after {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


/*  slide-from-left  */
button.slide-from-left::after {
	top: 0;
	bottom: 0;
	left: -100%;
	right: 100%;
}


/*  slide-from-right  */
button.slide-from-right::after {
	top: 0;
	bottom: 0;
	left: 100%;
	right: -100%;
}

/*  slide-from-top  */
button.slide-from-top::after {
	top: -100%;
	bottom: 100%;
	left: 0;
	right: 0;
}


/*  slide-from-bottom  */
button.slide-from-bottom::after {
	top: 100%;
	bottom: -100%;
	left: 0;
	right: 0;
}


/*
	button.grow 
*/

button[class*="grow-"] {
	overflow: hidden;
	position: relative;
	z-index: 1;
	border: 3px solid #87edd3;
	padding: 0.725rem 0.2rem;
	background: #20c8a4;
	color: #0d392d;

}

button[class*="grow-"]::before {
	position: absolute;
	z-index: -1;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #57e1db;
	transition: all 0.3s;
}


button.button-round[class*="grow-"]::before {
  border-radius: 1.5px;
}

button.button-rounder[class*="grow-"]::before {
  border-radius: 3px;
}

button.button-roundest[class*="grow-"]::before {
  border-radius: 6px;
}  	


/* rectangle */
button.grow-rectangle::before {
	transform: scale(0);
}


button.grow-rectangle:hover::before,
button.grow-rectangle:focus::before {
	transform: scale(1);
}


/* ellipse */
button.grow-ellipse::before {  
	border-radius: 50%;
	transform: scale(0);
}

button.grow-ellipse:hover::before,
button.grow-ellipse:focus::before {
	transform: scale(1.6);
}

/* rounder */
button.grow-rounder::before {  }

button.grow-rounder:hove::before, 
button.grow-rounder:focus::before {

}


/*  circle */
button.grow-circle::before {
  border-radius: 50%;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  transform: scale(0);
}

button.grow-circle:hover::before,
button.grow-circle:focus::before {
  transform: scale(1.6);
}


/*  skew */
button.grow-skew::before {
  left: 50%;
  right: 50%;
  transform: skewX(45deg);
}

button.grow-skew:hover::before,
button.grow-skew:focus::before {
  left: -20%;
  right: -20%;
}

/*  skew - 45deg */
button.grow-skew-45::before {
  left: 20%;
  right: 80%;
  transform: skewX(-45deg);
}
button.grow-skew-45:hover::before,
button.grow-skew-45:focus::before {
  left: -20%;
  right: -20%;
}

/*  spin */
button.grow-spin::before {
  transform: rotate(-180deg) scale(0);
}
button.grow-spin:hover::before,
button.grow-spin:focus::before {
  transform: rotate(0deg) scale(1);
}


/*  spin-ccw */
button.grow-spin-ccw::before {
  transform: rotate(180deg) scale(0);
}
button.grow-spin-ccw:hover::before,
button.grow-spin-ccw:focus::before {
  transform: rotate(0deg) scale(1);
}



.img-github {
	position: relative;
	top: 0;
	z-index: 10;
	transform-origin: 900px 0	;
	transform: scale(0.5) rotate(45deg);
	animation: holdOn 4s infinite alternate ease;
}

@keyframes holdOn {
	0% { transform: translateY(-133px) scale(0.5) rotate(20deg); }
	50% { transform: translateY(-133px) scale(0.5) rotate(80deg); }
	100% { transform: translateY(-133px) scale(0.5) rotate(20deg); }
}






































